---
layout: default
---

<div class="home">
  
  <div class="hwrap-container">
    {% for gallery in site.data.galleries.overview %}
      <div class="half-width gallery-preview left">
        <h1 class="page-heading">{{ gallery.title }}</h1>
        <a href="{{ site.url }}{{ site.baseurl }}/galleries/{{ gallery.directory }}.html">
          <img alt="{{ gallery.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/galleries/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" width="400" />
        </a>
      </div>
    {% endfor %}
    <div class="half-width gallery-preview left">
      <h1 class="page-heading">Music</h1>
      <a href="https://{{ site.bandcamp_username }}.bandcamp.com">
        <img alt="den music" src="{{ site.url }}{{ site.baseurl }}/assets/galleries/digital/20250824_denmusic_cover-thumbnail.png" width="400" />
      </a>
    </div>
  </div>

  <br>

  {% if site.posts.size > 0 %}
    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endif %}

</div>
