---
layout: default
---

<div class="home">
  {% assign count = 0 %}
  {% assign align = "left" %}
  {% for gallery in site.data.galleries.overview %}
    {% if count == 0 %}<div class="row">{% endif %}
      <div class="half-width gallery-preview {{ align }}">
        <h1 class="page-heading">{{ gallery.title }}</h1>
        <a href="{{ site.url }}{{ site.baseurl }}/galleries/{{ gallery.directory }}.html">
          <img alt="{{ gallery.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/galleries/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" />
        </a>
      </div>
    {% if count == 1 %}</div>{% endif %}
    {% assign count = count | plus: 1 %}
    {% assign align = "right" %}
    {% if count >= 2 %}
      {% assign align = "left" %}
      {% assign count = 0 %}
      <br>
    {% endif %}
  {% endfor %}

  {% if count != 1 %}
  </div>
  {% endif %}
  <br>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
